<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>免费注册</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4">创建新账户</h2>
            <div class="auto-form-wrapper">
              <form onsubmit="return false">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="account" placeholder="Email / Tel" autocomplete="off">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                  <span class="error" style="margin: 2px 0 2px; display: none; color: red; font-size:12px;padding-left:3px;">账户名已被占用</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" id="nickname" placeholder="Nickname" autocomplete="off">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <style>
                  div.strong{margin: 0 0 8px 0;height: 40px;display: none;}
                  div.strong p{margin: 0;padding: 0;text-align: center;font-size: 12px;color: #333}
                  div.strong span{float: left;height: 20px; width: 33%;background: rgba(232, 233, 235, .5);border: 1px solid #e5e5e5;text-align: center;line-height: 20px;font-size: 12px;color: #333;}
                </style>
                <div class="form-group strong" id="strong">
                  <p>密码强度</p>
                  <div>
                      <span>弱</span>
                      <span>中</span>
                      <span>强</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" id="repassword" placeholder="Confirm Password" autocomplete="off">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                  <span class="pass_error" style="margin: 2px 0 2px;display: none;color: red; font-size:12px;padding-left:3px;">两次密码不一致</span>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> 同意服务条款
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" id="register_btn">注册</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">已有账户?</span>
                  <a href="login" class="text-black text-small">去登录</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/misc.js"></script>
  <!-- endinject -->
  <script src="http://hao.91nzh.com/static/js/jquery3.2.1.min.js"></script>
  <script src="../../js/layer/layer.js"></script>
  <script>
      var EmailRegExp = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
      var TelRegExp = /^13[0-9]{1}[0-9]{8}$|15[0-9]{1}[0-9]{8}$|18[0-9]{1}[0-9]{8}$|17[0-9]{1}[0-9]{8}$/;
      var NickRegExp = /^[a-zA-Z0-9\u4e00-\u9fa5]{1,16}$/;//验证中文 数字 字母至少1位至多8位
      var PassRegExp = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W_]).{10,20}$/;//表示长度为10-20位包含数字、字母、特殊字符的密码
      $('#account').keyup(function(){
          var account = $(this).val();
          if(account !== ''){
              if(!(EmailRegExp.test(account)) && !(TelRegExp.test(account))){
                  $(this).next().find('i').removeClass().addClass('mdi mdi-close-circle-outline').css({color: 'red'});
                  $(this).parents('div.input-group').next().css({display: 'none'});
                  $(this).parents('div.form-group').css({marginBottom: '16px'});
              }else{
                  $.post('/register/checkAcc',{
                  account: $(this).val()
                  },(res)=>{
                    if(res.ok == 1){
                      $(this).next().find('i').removeClass().addClass('mdi mdi-close-circle-outline').css({color: 'red'});
                      
                      $(this).parents('div.input-group').next().css({display: 'block'});
                      $(this).parents('div.form-group').css({marginBottom: '0px'})
                      return;
                    }
                    if(res.ok == 0){
                      $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: "green"});
                      $(this).css({border: '1px solid #e5e5e5',borderRight: 'none'})
                      $(this).next().find('span').css({border: '1px solid #e5e5e5',borderLeft: 'none'})
                      $(this).parents('div.input-group').next().css({display: 'none'});
                      $(this).parents('div.form-group').css({marginBottom: '16px'});
                      return;
                    }
                  })
              }
          }else{
            $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: ""});
            $(this).parents('div.input-group').next().css({display: 'none'});
            $(this).parents('div.form-group').css({marginBottom: '16px'})
            return;
          } 
      })
      $('#password').focus(function(){
        $('#strong').slideDown(200);
      }).blur(function(){
        $('#strong').slideUp(200);
      })
      $('#password').keyup(function(){
        var password = $(this).val();
        if(password !== ''){
          $(this).next().find('i').removeClass().addClass('mdi mdi-close-circle-outline').css({color: 'red'});
          if(password.length >= 6 && password.length <= 20){
            $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: "green"});
            $(this).css({border: '1px solid #e5e5e5',borderRight: 'none'})
            $(this).next().find('span').css({border: '1px solid #e5e5e5',borderLeft: 'none'})
            if(/^(?:\d+|[a-zA-Z]+|[!@#$%^&*.]+)$/.test(password)){
            //密码强度弱
            $('#strong').find('span').css({background: '#f3f4f5'})
            $('#strong').find('span').eq(0).css({background: '#23ed23'})
            console.log('弱')
            }else if(/^[A-Za-z0-9]+$/.test(password)||/^[A-Za-z!@#$%^&*.]+$/.test(password)||/^[0-9!@#$%^&*.]+$/.test(password)){
              //密码强度中
              $('#strong').find('span').css({background: '#f3f4f5'})
              $('#strong').find('span').eq(1).css({background: '#23ed23'})
              console.log('中')
            }else{
              //密码强度强
              $('#strong').find('span').css({background: '#f3f4f5'})
              $('#strong').find('span').eq(2).css({background: '#23ed23'})
              console.log('强')
            }
          }else{
            $('#strong').find('span').css({background: '#f3f4f5'})
          }
        }else{
          $('#strong').find('span').css({background: '#f3f4f5'})
          $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: ""});
        }
      })
      $('#repassword').keyup(function(){
        var repassword = $(this).val();
        if(repassword !== ''){
          $(this).next().find('i').removeClass().addClass('mdi mdi-close-circle-outline').css({color: 'red'});
          if(repassword.length >= 6 && repassword.length <= 20 && repassword == $('#password').val()){
            $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: "green"});
            $('.pass_error').css({display: 'none'});
          }
        }else{
          $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: ""});
        }
      })


      $('#nickname').keyup(function(){
        var nickname = $(this).val().trim();
        if(nickname !== ''){
          if(!NickRegExp.test(nickname)){
            $(this).next().find('i').removeClass().addClass('mdi mdi-close-circle-outline').css({color: 'red'});
          }else{
            $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: "green"});
            $(this).css({border: '1px solid #e5e5e5',borderRight: 'none'})
            $(this).next().find('span').css({border: '1px solid #e5e5e5',borderLeft: 'none'})
          }
        }else{
          $(this).next().find('i').removeClass().addClass('mdi mdi-check-circle-outline').css({color: ""});
        }
      })

      $('#register_btn').click(function(){
          var account = $('#account').val();
          var nickname = $('#nickname').val();
          var password = $('#password').val();
          var repassword = $('#repassword').val();
          if(!(EmailRegExp.test(account)) && !(TelRegExp.test(account))){
            $('#account').focus();
            $('#account').css({border: '1px solid red',borderRight: 'none'})
            $('#account').next().find('span').css({border: '1px solid red',borderLeft: 'none'})
            return;
          }
          if(!NickRegExp.test(nickname)){
            $('#nickname').focus();
            $('#nickname').css({border: '1px solid red',borderRight: 'none'})
            $('#nickname').next().find('span').css({border: '1px solid red',borderLeft: 'none'})
            return;
          }
          if(password.length<6 || password.length > 20){
            $('#password').focus();
            $('#password').css({border: '1px solid red',borderRight: 'none'})
            $('#password').next().find('span').css({border: '1px solid red',borderLeft: 'none'})
            return;
          }
          if(password !== repassword){
            $('.pass_error').css({display: 'block'});
            return;
          }
          // return;
          $.ajax({
            type: 'post',
            url: 'register/success',
            data: {
              account: account,
              password: password,
              nickname: nickname
            },
            success: function(res){
                if(res.ok == 1){
                  layer.msg('注册成功',{time:2000,icon:1});
                  setTimeout(() => {
                    location.href = 'login';
                  }, 2000);
                  return false;
                }
                if(res.ok == -1){
                  layer.msg('该账号已注册',{time:2000,icon:2});
                  return false;
                }
                if(res.ok == 0){
                  layer.msg('网络失败',{time:2000,icon:2});
                  return false;
                }
            }
          })
      })
  </script>
</body>

</html>